@import "tailwindcss";

/* Ant Design customization */
.ant-picker,
.ant-input,
.ant-input-textarea {
  width: 100%;
}

.ant-card {
  border-radius: 8px;
}

.ant-switch {
  background-color: #d1d5db;
}

.ant-switch-checked {
  background-color: #4f46e5;
}
